body{
    font-family: 'Sulphur Point', sans-serif;
}
h1{
    color: darkgreen;
    font-family: 'Sulphur Point', sans-serif;
}
h5 {
    color:red;
}

h6 {
    color: pink;
}

p 
{
    font-family: 'Cabin', sans-serif;

}